<section class="content-header" style="text-align:center;">
    <h1>
        Acerca de
        <small>SCJ</small>
    </h1>
</section>
<div class="container" style="margin-top:20px">
    <div class="row">

        <div class="col-md-4">
            <div class="box box-solid">
                <div class="box-header with-border">
                    <h3>Propósito y Origen SCJ</h3>
                </div>
                <div class="box-body" style="text-justify:auto">
                    El proyecto SCJ se desarrolló en un tiempo aproximado de año y seis meses. La herramienta es destinada para el departamento de Servicios Jurídicos y permite: Automatización y control de los insumos del
                    presente departamento, SCJ está diseñado para agilizar procesos y maximizar el rendimiento: ahorro de recursos (humano y tiempo).
                    <small>El presente proyecto es un consorcios entre la Universidad Nacionalde Costa Rica, específicamente con la Cátegdra de Ingeniería en Sistenmas de Información, y la Municipalidad de Alajuela</small>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="box box-solid">
                <div class="box-header with-border">
                    <h3>Equipo Desarrollador, Profesor y Patrocinadores</h3>
                </div>
                <div class="box-body">
                    <ul>
                        <li>
                            Equipo Desarrollador: Grupo número 28 del Curso de Ingeniería En Sistemas de la Universidad Nacional de Costa Rica
                            <ul>
                                <li>
                                    David Guzmán Rodríguez
                                </li>
                                <li>
                                    Viviana Jiménez Segura
                                </li>
                                <li>
                                    Adrián Picado Larios
                                </li>
                                <li>
                                    Steven Villalobos Chacón
                                </li>
                            </ul>
                        </li>
                        <li>
                            Profesor:
                            <ul>
                                <li>Profesor Rafael Alvarado Arley</li>
                            </ul>
                        </li>
                        <li>
                            Patrocinadores
                            <ul>
                                <li>Lic. Johanna Barrantes Segura</li>
                                <li>Lic. Roberto Castro Porras</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="box box-solid">
                <div class="box-header with-border">
                    <h3>Funciones SCJ</h3>
                </div>
                <div class="box-body">

                    <ul>
                        <li>
                            Búsqueda Automatizada de Insumos
                        </li>
                        <li>Creación de Documentos, Procesos y Personas</li>
                        <li>Edición de Documentos, Procesos y Personas</li>
                        <li>
                            Respuesta de Documentos de Entrada
                        </li>
                        <li>
                            Asignación de Procesos
                        </li>
                        <li>Notificación de procesos vía correo electrónico</li>
                        <li>Archivación de documentos y procesos</li>
                        <li>Servicio de Reportes</li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>
