@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <script src="~/Content/js/script.js"></script>
    <link href="@Url.Content("~/Content/css/style.css")" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" type="image/png" href="~/Content/img/icon.ico" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <title></title>
</head>
<body>
    <style>
        body {
            background-color: lavender;
        }
    </style>

    <div class="title"> Acerca del Sistema de Control Jurídico</div>
    <div class="widget">

        <table class="table">

            <tr>

                <th align="center">Nombre del Sistema</th>
                <th align="center">Objetivo</th>
                <th align="center">Autores</th>


            </tr>
            <tr>
                <td>
                    Sistema de control juridico de la Municipalidad de Alajuela
                </td>

                <td align="justify">
                    El sistema de control jurídico consistente en un software que ayude a buscar, archivar y agregar los procesos que ingresan en el de departamento de jurídico de la Municipalidad de Alajuela, fue elaborado con el fin de tener un mejor manejo de los proceso que entran y salen de este departamento, este proyecto se elaboro gracias a un convenio entre la Municipalidad de Alajuela y la Universidad Nacional de Costa Rica, el equipo de desarrollo se dedico a implementar este sistema a lo largo de 3 semestres, con el fin de entregar un producto de provecho para esta institución.
                </td>

                <td align="justify">
                    Este proyecto fue elabora por estudiantes regulares de la Universidad de Nacional, el grupo 28 de Ingenieria en Sistemas sede Interuniversitaria de Alajuela. Los integrantes del grupo 28 son Steven Villalobos Chacón (Lider de grupo) ,David Guzmán Rodríguez, Viviana Jiménez Segura, Adrián Picado Larios. El docente titular Rafael Alvarado Arley acompañó el proceso en los 2 primeros semestres que se desarrollo este producto.
                </td>

        </table>

    </div>

</body>
</html>
