* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #d5dae5;
    overflow: auto;
}

.header {
    position: absolute;
    height: 44px;
    width: 100%;
    background-color: #FFF;
    z-index: 3;
    right: 0;
    border-bottom: 3px solid #2d3d51;
    display: inline-block;
}

    .header .dropdown-menu {
        margin-left: 80%;
        margin-top: 2px;
        width: 20%;
        color: white;
        padding: 10px 20px;
        text-align: right;
        background: #35475e;
        display: block;
    }

        .header .dropdown-menu ul {
            margin: 10px;
            color: #FFF;
            text-decoration: none;
            color: #FFF;
        }

        .header .dropdown-menu:active {
            display: none;
        }

        .header .dropdown-menu ul li {
            color: #FFF;
            margin: 5px;
            text-decoration: none;
        }

            .header .dropdown-menu ul li a {
                color: #FFF;
                text-decoration: none;
            }

                .header .dropdown-menu ul li a :hover {
                    color: black;
                    text-decoration: none;
                }

    .header .dropdown-item {
        margin-left: 50%;
        background: #35475e;
    }

    .header .dbtn {
        cursor: pointer;
        margin-left: 1%;
        padding: 13px 10px;
        right: 0;
        font-size: 16px;
        z-index: 1000;
        display: inline;
        color: white;
        bottom: 0;
        border: 0px solid #FFF;
    }

    .header span {
        margin: 75%;
        padding: 0 0 10px 10px;
        font-size: 16px;
        z-index: 100;
        display: inline;
        color: white;
        bottom: 0;
    }

.logo {
    height: 44px;
    padding: 10px;
    font-weight: 700;
}

    .logo img {
        height: 30px;
        width: 25px;
    }

    .logo span {
        font-family: sans-serif;
        color: #FFF;
        z-index: 100;
    }



.header .logo {
    color: #233245;
}

.side-nav .logo {
    background-color: #233245;
    color: #fff;
}

.header .logo {
    float: left;
}

.header .logo {
    height: 44px;
    z-index: 1;
    padding-left: 60px;
    font-weight: 700;
    color: #233245;
}

.logo i {
    font-size: 22px;
}
tr.clicked {
   
}
.trfirst.clicked {
    background-color: black;
}
.trfirst:hover {
    background-color: #FFF;
}
tr:hover {
    background: #add8e6;
}
.logo span {
    margin-left: 5px;
    text-transform: uppercase;
}

.nav-trigger {
    position: relative;
    float: right;
    width: 20px;
    height: 44px;
    right: 30px;
    display: block;
}

    .nav-trigger span, .nav-trigger span:before, span:after {
        width: 20px;
        height: 2px;
        background-color: #000;
        position: absolute;
    }

    .nav-trigger span {
        top: 50%;
    }

        .nav-trigger span:before, .nav-trigger span:after {
            content: '';
        }

        .nav-trigger span:before {
            top: -6px;
        }

        .nav-trigger span:after {
            top: 6px;
        }

.side-nav {
    position: absolute;
    width: 100%;
    /*colo del fondo*/
    background-color: #233245;
    height: 100vh;
    z-index: 1;
    display: none;
}

.dropdown-btn .visible {
    display: block;
}

.side-nav .visible {
    display: block;
}

.side-nav ul {
    margin: 0;
    padding: 0;
}

.li {
    background-color: #233245;
    color: #FFF;
}

.side-nav .dropdown-btn li {
    /*color de los DRopdown*/
    background-color: #233245;
    color: #FFF;
}

.side-nav .btn li {
    cursor: pointer;
    background-color: #233245;
    color: #FFF;
}

.side-nav div li {
    font-family: sans-serif;
    padding: 16px 16px;
    position: relative;
    background: #FFF;
}

.side-nav ul li {
    font-family: sans-serif;
    padding: 16px 16px;
    position: relative;
    color: #fff;
}

.side-nav #dropdown-btn, .side-nav ul li {
    padding: 16px 16px;
    border-bottom: 1px solid #000;
    position: relative;
}

.side-nav .dropdown-btn ul li.active:before {
    content: '';
    position: absolute;
    width: 4px;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
    display: inline;
}

.side-nav ul li.active:before {
    content: '';
    display: inline;
    position: absolute;
    width: 4px;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
}

.side-nav ul li a {
    color: #fff;
    display: block;
    text-decoration: none;
}

.side-nav ul li i {
    color: #0497df;
    min-width: 20px;
    text-align: center;
}

.side-nav ul li span:nth-child(2) {
    margin-left: 10px;
    font-size: 14px;
    font-weight: 600;
}

.dropdown-container {
    display: none;
    background-color: #fff;
    padding-left: 8px;
    line-height: 40px;
    list-style: none;
}

.nav ul.dropdown-btn ul {
    display: none;
}

.nav .dropdown-container {
    display: none;
    background-color: #fff;
    padding-left: 8px;
    line-height: 40px;
    list-style: none;
}

.nav .dropdown-btn {
    color: #0497df;
    min-width: 20px;
    text-align: center;
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #f1f1f1;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}

.dropdown-btn:hover {
    color: white;
    cursor: pointer;
}

.main-content {
    padding: 40px;
    margin-top: 0;
    padding: 0;
    padding-top: 44px;
    height: 100%;
    overflow: scroll;
}

    .main-content .title {
        background-color: #eef1f7;
        border-bottom: 1px solid #b8bec9;
        padding: 30px 0px 10px 50px;
        font-weight: 700;
        color: #333;
        font-size: 18px;
    }

@media screen and (min-width:600px) {
    .header {
        background-color: #35475e;
        z-index: 1;
    }

        .header .logo {
            display: none;
        }

    logo .img {
        height: 1px;
        width: 2px;
    }

    .nav-trigger {
        display: none;
    }

        .nav-trigger span, .nav-trigger span:before, span:after {
            background-color: #fff;
        }

    .side-nav {
        position: absolute;
        height: 100%;
        overflow-wrap: break-word;
        display: block;
        z-index: 2;
        width: 70px;
    }

        .side-nav ul li {
            text-align: center;
        }

            .side-nav ul li span:nth-child(2) {
                display: inline-block;
            }

        .side-nav .logo i {
            padding-left: 12px;
        }

        .side-nav .btn li span:nth-child(2) {
            display: none;
        }

        .side-nav .dropdown-btn li span:nth-child(2) {
            display: none;
        }

        .side-nav .logo span {
            display: none;
        }

        .side-nav ul li a {
            text-align: center;
        }

        .side-nav ul li i {
            font-size: 26px;
        }

    .main-content {
        margin-left: 70px;
        overflow: auto;
    }
}

@media screen and (min-width:800px) {
    .side-nav .dropdown-btn li span:nth-child(2) {
        display: inline-block;
    }

    .side-nav .btn li span:nth-child(2) {
        display: inline-block;
    }

    .side-nav {
        width: 200px;
    }

        .side-nav ul li {
            text-align: left;
        }

            .side-nav ul li span:nth-child(2) {
                display: inline-block;
            }

            .side-nav ul li i {
                font-size: 26px;
            }

    .main-content {
        margin-left: 200px;
        overflow: auto;
    }
}

.main {
    display: flex;
    flex-flow: row wrap;
}

.widgettablet {
    position: sticky;
    padding: 25px;
    flex-basis: 100px;
    flex-grow: 10;
    border-radius: 6px;
    background-color: #ffffff;
}
.widgettablet .title {
    background-color: #eef1f7;
    border-bottom: 1px solid #dfe4ec;
    padding: 10px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    color: #617085;
    font-weight: 600;
}

.widget {
    /*position: sticky;*/
    /*padding: 25px;*/
    flex-basis: 100px;
    flex-grow: 10;
    border-radius: 6px;
    background-color: #ffffff;
}

.widget .title {
    background-color: #eef1f7;
    border-bottom: 1px solid #dfe4ec;
    padding: 10px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    color: #617085;
    font-weight: 600;
}

    .widget .form-horizontal {
    }

    .widget .table {
        position: sticky;
        /*border-collapse: collapse;
    position: absolute;
    color: white;
    font-family:'Segoe UI Historic';
    text-transform:uppercase;
    text-align:center;*/
    }

/*.widget .table tr:nth-child(1) {
    color: #000;
    text-decoration:dotted;
}
.widget .table tr:nth-child(2n+1) {
    text-decoration: double;
    background-color: #EEF1F7;
}*/


.header .buttonx {
    /*line-height: 12px;
    width: 18px;
    font-size: 8pt;
    font-family: tahoma;
    margin-top: 1px;
    margin-right: 2px;*/
    position: absolute;
    /*top: 0;*/
    right: 0;
}
.modal-title{
    display:inline-block;
}
.modal-backdrop {
    z-index: 1040 !important;
}

.modal-dialog {
    margin: 2px auto;
    z-index: 1100 !important;
}

.modal-backdrop {
    /* bug fix - no overlay */
    display: none;
}
.box {
    margin: 100px auto;
    width: 300px;
    height: 50px;
}